# =============== #
# Unity generated #
# =============== #
[Tt]emp/
[Oo]bj/
[Bb]uild
/[Ll]ibrary/
sysinfo.txt
*.stackdump
# unity transients
Library/
Temp/
*.csproj
*.sln
*.unityproj
 
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
[Ee]xported[Oo]bj/
.vs/
/*.userprefs
/*.csproj
/*.pidb
/*.suo
/*.sln*
/*.user
/*.unityproj
/*.booproj
 
# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
[Tt]humbs.db
[Dd]esktop.ini
Idea 1/FYP_IDEA1/Library/assetDatabase3
Idea 1/FYP_IDEA1/Library/metadata/00/00000000000000004000000000000000
Idea 1/FYP_IDEA1/Library/metadata/00/00000000000000006100000000000000
Idea 1/FYP_IDEA1/Library/metadata/e2/e25e16047cf41694b96475f8c82678d6.info
Idea 1/FYP_IDEA1/Library/assetDatabase3
Idea 1/FYP_IDEA1/Library/metadata/e2/e25e16047cf41694b96475f8c82678d6.info
